*{
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(200, 244, 244);
}

div{
    margin-bottom: 20px;
}


@media only screen and (max-width: 900px){
    img{
        width: 100%;
    }
}